<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <section>
        <!-- walang idea kung ano lalagay  -->
        <h1>CMU Profile</h1>
    </section>
</body>
</html>